* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: red !important;
}


header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(10px);
}

header h1 {
  font-size: 24px;
  font-weight: 700;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
}

.hero {
  padding: 120px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 48px;
  font-weight: 800;
}

.hero p {
  margin-top: 20px;
  font-size: 18px;
  opacity: 0.9;
}

button {
  margin-top: 40px;
  padding: 14px 36px;
  border-radius: 999px;
  border: none;
  background: #38bdf8;
  color: #020617;
  font-weight: 700;
  cursor: pointer;
}
