body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.hero {
  padding: 70px 20px;
  text-align: center;
  background: linear-gradient(135deg, #1e40af, #020617);
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #020617;
  padding: 15px;
}

nav a {
  color: #93c5fd;
  text-decoration: none;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.box {
  width: 100px;
  height: 100px;
  background: #334155;
}

footer {
  background: #020617;
  padding: 20px;
  text-align: center;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.reveal.show {
  opacity: 1;
  transform: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

